<a href="https://colab.research.google.com/github/parkmicheal1114/study/blob/main/python/python_practice_2023_05__2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. 새학기가 되어 이름을 가나다 순서대로 배정하고 번호를 매기려고 합니다.

 입력받은 명단 리스트를 처리하여, 이름과 번호를 아래와 같이 출력하는 코드를 작성해주세요.

In [ ]:
student = ['강은지','김유정','박현서','최성훈','홍유진',
           '박지호','권윤일','김채리','한지호','김진이',
           '김민호','강채연']

for i,idx in enumerate(student):
  print(f"번호: {i+1}, 이름: {idx} \n" )

번호: 1, 이름: 강은지

번호: 2, 이름: 김유정

번호: 3, 이름: 박현서

번호: 4, 이름: 최성훈

번호: 5, 이름: 홍유진

번호: 6, 이름: 박지호

번호: 7, 이름: 권윤일

번호: 8, 이름: 김채리

번호: 9, 이름: 한지호

번호: 10, 이름: 김진이

번호: 11, 이름: 김민호

번호: 12, 이름: 강채연

- 숫자가 공백으로 구분되어 주어지면, 이 숫자의 배열이 연속수인지 아닌지 True/False 로 판별하는 코드를 작성해주세요. (단, 자연수와 음수를 포함한 정수를 입력으로 받으며, 연속인지 아닌지의 기준은 정수를 기준으로 한다.)

In [25]:
while True:
    try:
        nums = list(map(int, input().split()))
        sorted_nums = sorted(nums)
        if sorted_nums == nums:
          print(True)
        else:
          print(False)
    except ValueError:
        print('정수가 아닙니다')
        break

-2 -1 0 1 2
True
1 4 2 6
False
99 100 101
True
1 1.5 2
정수가 아닙니다

* 리스트에서 고유하지 않은(non-unique) 값들을 제거하는 코드를 작성하세요.

In [15]:
from collections  import Counter
lst = [1,2,2,3,4,4,5]


def filter_non_unique(lst):
  unique = [i for i,val in Counter(lst).items() if val == 1]
  return unique

filter_non_unique(lst)

[1, 3, 5]

- 리스트에서 고유한(unique) 값들만 제거하는 코드를 작성하세요.

In [16]:
from collections  import Counter
lst = [1,2,2,3,4,4,5]


def filter_unique(lst):
  non_unique = [i for i,val in Counter(lst).items() if val != 1]
  return non_unique

filter_unique(lst)

[2, 4]

- itr 리스트의 각 원소에 주어진 함수 fn를 실행하는 함수를 작성하세요.

In [17]:
itr = [1,2,3]
fn = print

def for_each(itr, fn):
  for i in itr: 
    fn(i)

for_each(itr, fn)

1
2
3

- itr 리스트의 각 원소에 주어진 함수 fn를 리스트의 마지막 값부터 실행하는 함수를 작성하세요.

In [18]:
itr = [1,2,3]

def for_each_right(itr, fn):
    for i in itr[::-1]: 
      fn(i)


for_each_right(itr, print)

3
2
1

- 리스트에 중복된 값이 있다면 True를 없다면 False를 반환하는 코드를 작성하세요.

In [24]:
lst = [1,2,3]

def has_duplicates(lst):
  return lst == list(set(lst))

has_duplicates(lst)

True

- 리스트의 첫번째 값을 반환하는 코드를 작성하세요.

In [25]:
lst = [1,2,3]

def head(lst):
  return lst[0]

head(lst)

1

- n이 start 와 end 사이에 있는 값인지 확인하는 코드를 작성하세요.

(단, end 를 지정하지 않을 경우, 0 부터 start 까지로 간주하도록 하세요.)

In [28]:
def in_range(n, start, end=0):
  return end < n <start or start < n < end 

in_range(3,2,5) , in_range(3,4) , in_range(2,3,5) , in_range(3,2)

(True, True, False, False)