<a href="https://colab.research.google.com/github/parkmicheal1114/study/blob/main/python/python_practice_2023_05__5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- "비트코인" 문자열을 화면에 출력하는 print_coin() 함수를 정의하라

In [10]:
def print_coin():
  print("비트코인")

In [11]:
print_coin()

비트코인

In [ ]:
for i in range(100):
  print_coin()

- "비트코인" 문자열을 100번 화면에 출력하는 print_coins() 함수를 정의하라

In [ ]:
def print_coins():
  for i in range(100):
    print('비트코인')
print_coins()

- 하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [14]:
def print_with_smile(str1):
  print(str1+":D")

print_with_smile('hello')

hello:D

- 현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [21]:
def print_upper_price():
  price = int(input())
  print(price*1.3)

print_upper_price()

5000
6500.0

- 두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [29]:
def print_sum(a,b):
  print(a+b)

print_sum(3 ,4)

7

- 두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

In [31]:
def print_arithmetic_operation():
  a = int(input())
  b = int(input())
  print (f'{a} + {b} = {a+b} ')
  print (f'{a} * {b} = {a*b} ')
  print (f'{a} - {b} = {a-b} ')
  print (f'{a} / {b} = {a/b} ')

print_arithmetic_operation()

5
2
5 + 2 = 7
5 * 2 = 10
5 - 2 = 3
5 / 2 = 2.5

- 세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [33]:
def print_arithmetic_operation():
  a = int(input())
  b = int(input())
  c = int(input())
  
  if  a > b and a > c:
    print(a)
  elif b > a and b > c:
    print(b)
  else:
    print(c)

print_arithmetic_operation()

5
7
9
9

- 입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

In [35]:
text = "python"
def print_reverse(text):
  print(text[::-1])

print_reverse(text)

nohtyp

- 성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.

In [36]:
def print_score(score):
  mean = sum(score)/len(score)
  return mean

score = [1, 2, 3]
print_score(score)

2.0

- 하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.

In [37]:
def print_even(nums):
  [print (num) for num in nums if num % 2 == 0]

b = [1, 3, 2, 10, 12, 11, 15]
print_even(b)

2
10
12

- 하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

In [40]:
#print_keys ({"이름":"김말똥", "나이":30, "성별":0})

# 

def print_keys(dic):
  [print(key) for key in dic.keys()]

a = {"이름":"김말똥", "나이":30, "성별":0}

print_keys(a)

이름
나이
성별

my_dict에는 날짜를 키값으로 OHLC가 리스트로 저장돼 있다.
~~~
my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
~~~
my_dict와 날짜 키값을 입력받아 OHLC 리스트를 출력하는 print_value_by_key 함수를 정의하라.

In [41]:
# print_value_by_key  (my_dict, "10/26")

def print_value_by_key(dic,date):
  print(dic[date])

my_dict = {"10/26" : [100, 130, 100, 100],
           "10/27" : [10, 12, 10, 11]}
print_value_by_key(my_dict, "10/26")

[100, 130, 100, 100]

- 입력 문자열을 한 줄에 다섯글자씩 출력하는 print_5xn(string) 함수를 작성하라.

In [61]:
# print_5xn("아이엠어보이유알어걸")
#### not solve
def print_5xn(line):
    chunk_num = int(len(line) / 5)
    for x in range(chunk_num + 1) :
        print(line[x * 5: x * 5 + 5])

print_5xn("아이엠어보이유알어걸")

아이엠어보
이유알어ㅇ
걸

- 연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 이 때 1원 미만은 버림한다.

In [63]:
 # calc_monthly_salary(annual_salary) 

def calc_monthly_salary(annual_salary):
  month_salary = int(annual_salary / 12)
  return month_salary

calc_monthly_salary(1200000)

100000

- 문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.

In [64]:
def make_url(name):
  return f"www.{name}.com"

make_url('naver')

'www.naver.com'

- 문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

In [66]:
def make_list(word):
  return list(word)

make_list("abcd")

['a', 'b', 'c', 'd']

- 숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

In [67]:
# pickup_even([3, 4, 5, 6, 7, 8])

def pickup_even(lst):
  even_num = [num for num in lst if num % 2==0]
  return even_num

pickup_even([3, 4, 5, 6, 7, 8])

[4, 6, 8]

- 콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

In [71]:
# convert_int("1,234,567")

def convert_int(num):
  nums = int(num.replace(',',''))
  return nums

convert_int("1,234,567")

1234567