<a href="https://colab.research.google.com/github/parkmicheal1114/study/blob/main/python/python_practice_2023_05__4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 리스트에서 세 글자 이상의 문자를 화면에 출력하라

In [ ]:
list_1 = ["I", "study", "python", "language", "!"]
for word in list_1:
  if len(word) > 2 :
    print(word)

study
python
language

- 리스트에서 대문자만 화면에 출력하라.

In [ ]:
list2 = ["A", "b", "c", "D"]

for word in list2:
  if word == word.upper():
    print(word)

A
D

- 리스트에서 소문자만 화면에 출력하라.

In [ ]:
list2 = ["A", "b", "c", "D"]

for word in list2:
  if word == word.lower():
    print(word)

b
c

- 이름의 첫 글자를 대문자로 변경해서 출력하라.

In [ ]:
list3 = ['dog', 'cat', 'parrot']

for word in list3:
  print(word[0].upper()+word[1:])

Dog
Cat
Parrot

- 파일 이름이 저장된 리스트에서 확장자를 제거하고 파일 이름만 화면에 출력하라. (힌트: split() 메서드)

In [ ]:
list4 = ['hello.py', 'ex01.py', 'intro.hwp']

for word in list4:
  print(word.split('.')[0])

hello
ex01
intro

- 파일 이름이 저장된 리스트에서 확장자가 .h인 파일 이름을 출력하라.

In [ ]:
list5 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for f in list5:
  if f.split('.')[1] == 'h':
    print(f)

intra.h
define.h

- 파일 이름이 저장된 리스트에서 확장자가 .h나 .c인 파일을 화면에 출력하라.

In [ ]:
for f in list5:
  if f.split('.')[1] == 'h' or f.split('.')[1] == 'c' :
    print(f)

intra.h
intra.c
define.h

- for문과 range 구문을 사용해서 0~99까지 한 라인에 하나씩 순차적으로 출력하는 프로그램을 작성하라.

In [ ]:
for i in range(100):
  print(i)

- 월드컵은 4년에 한 번 개최된다. range()를 사용하여 2002~2050년까지 중 월드컵이 개최되는 연도를 출력하라

In [ ]:
for worldcup in range(2002,2051,4):
  print(worldcup)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

- 1부터 30까지의 숫자 중 3의 배수를 출력하라.

In [ ]:
for i in range(1,31): 
  if i%3 ==0:
    print(i)

3
6
9
12
15
18
21
24
27
30

- 99부터 0까지 1씩 감소하는 숫자들을, 한 라인에 하나씩 출력하라

In [ ]:
for i in range(100,0,-1):
  print(i)

- for문을 사용해서 아래와 같이 출력하라.

In [ ]:
# step 은 정수만 . float 으로 하려면 numpy로..

for i in range(0,10):
  print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

- 구구단 3단을 출력하라.

In [ ]:
for i in range(1,10):
  print(f' 3 x {i} = {3*i}')

 3 x 1 = 3
 3 x 2 = 6
 3 x 3 = 9
 3 x 4 = 12
 3 x 5 = 15
 3 x 6 = 18
 3 x 7 = 21
 3 x 8 = 24
 3 x 9 = 27

- 구구단 3단을 출력하라. 단 홀수 번째만 출력한다

In [ ]:
for i in range(1,10):
  if i % 2 != 0 :
    print(f' 3 x {i} = {3*i}')

 3 x 1 = 3
 3 x 3 = 9
 3 x 5 = 15
 3 x 7 = 21
 3 x 9 = 27

- 1~10까지의 숫자에 대해 모두 더한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [ ]:
sum = 0
for i in range(0,11):
  sum = sum + i
print(sum)

55

- 1~10까지의 숫자 중 모든 홀수의 합을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [ ]:
odd_sum = 0

for o in range(1,10,2):
  odd_sum += o

print(odd_sum)

25

- 1~10까지의 숫자를 모두 곱한 값을 출력하는 프로그램을 for 문을 사용하여 작성하라.

In [ ]:
mul = 1

for n in range(1,11):
  mul *= n

print(mul)

3628800

- 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [ ]:
price_list = [32100, 32150, 32000, 32500]

for i in range(len(price_list)):
  print(price_list[i])

32100
32150
32000
32500

- 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [ ]:
# 위 price_list 참조

for idx , p in enumerate(price_list):
  print ( idx , p )

0 32100
1 32150
2 32000
3 32500

- 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [ ]:
# 인덱스만 역순으로

for idx, p in enumerate(price_list):
  print(3-idx,p)

3 32100
2 32150
1 32000
0 32500

- 아래와 같이 리스트의 데이터를 출력하라. 단, for문과 range문을 사용하라.

In [ ]:
for idx, p in enumerate(price_list):
  print((idx*10)+90,p)

90 32100
100 32150
110 32000
120 32500

In [ ]:
my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1):
  print(my_list[i],my_list[i+1])

가 나
나 다
다 라

- 리스트를 아래와 같이 출력하라.

In [ ]:
my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list)-2):
  print(my_list[i],my_list[i+1],my_list[i+2])

가 나 다
나 다 라
다 라 마

- 반복문과 range 함수를 사용해서 my_list를 아래와 같이 출력하라.

In [ ]:
my_list = ["가", "나", "다", "라"]

for i in range(len(my_list)-1,0,-1 ):
  print(my_list[i],my_list[i-1])

라 다
다 나
나 가

리스트에는 네 개의 정수가 저장되어 있다. 각각의 데이터에 대해서 자신과 우측값과의 차분값을 화면에 출력하라.

```
my_list = [100, 200, 400, 800]
```

예를들어 100을 기준으로 우측에 위치한 200과의 차분 값를 화면에 출력하고, 200을 기준으로 우측에 위치한 400과의 차분값을 화면에 출력한다. 이어서 400을 기준으로 우측에 위치한 800과의 차분값을 화면에 출력한다.

In [ ]:
my_list = [100, 200, 400, 800]

for i in range(len(my_list)-1):
  diff = my_list[i+1] - my_list[i]
  print(diff)

100
200
400

리스트에는 6일 간의 종가 데이터가 저장되어 있다. 종가 데이터의 3일 이동 평균을 계산하고 이를 화면에 출력하라.
```
my_list = [100, 200, 400, 800, 1000, 1300]
```
첫 번째 줄에는 100, 200, 400의 평균값이 출력된다. 두 번째 줄에는 200, 400, 800의 평균값이 출력된다. 같은 방식으로 나머지 데이터의 평균을 출력한다.

In [ ]:
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list)-2):
  sum = my_list[i] + my_list[i+1] + my_list[i+2]
  avg = sum / 3 
  print(avg)

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

- 리스트에 5일간의 저가, 고가 정보가 저장돼 있다. 고가와 저가의 차를 변동폭이라고 정의할 때, low, high 두 개의 리스트를 사용해서 5일간의 변동폭을 volatility 리스트에 저장하라.

In [ ]:
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]

volatility = []
for i in range(len(low_prices)):
  vol = high_prices[i] - low_prices[i]
  volatility.append(vol)

print(volatility)

[50, 100, 30, 80, 0]

- 아래 표에서 하나의 행을 하나의 리스트로, 총 3개의 리스트를 갖는 이차원 리스트 apart를 정의하라.

In [ ]:
apart = [[101,201,301],[102,202,302]]

- 아래 표에서 하나의 열을 하나의 리스트로, 총 2개의 리스트를 갖는 이차원 리스트 stock을 정의하라.

In [ ]:
stock = [[100,200,300],[80,210,330]]

- 아래 표를 stock 이름의 딕셔너리로 표현하라.시가를 key로 저장하고, 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다. 종가 역시 key로 저장하고 나머지 같은 열의 데이터를 리스트로 저장해서 value로 저장한다.

In [ ]:
column = ['시가','종가']

dict_stock = dict(zip(column,stock))
dict_stock

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

- 아래 표를 stock 이라는 이름의 딕셔너리로 표현하라. 날짜를 key로 저장하고, 나머지 같은 행의 데이터를 리스트로 저장해서 value로 저장한다. 첫 열이 날짜이다.

In [ ]:
date = ('10/10','10/11')

dict_date = dict(zip(date,stock))
dict_date

{'10/10': [100, 200, 300], '10/11': [80, 210, 330]}

- 리스트에 저장된 데이터를 아래와 같이 출력하라.

In [ ]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for line in apart:
  for n in line:
    print(f'{n}호')

101호
102호
201호
202호
301호
302호

-리스트에 저장된 데이터를 아래와 같이 출력하라.

In [ ]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart),0,-1):
  for n in apart[i-1]:
    print(f'{n}호')

301호
302호
201호
202호
101호
102호

- 리스트에 저장된 데이터를 아래와 같이 출력하라.

In [ ]:
apart = [ [101, 102], [201, 202], [301, 302] ]

for line in apart[::-1]:
  for n in line[::-1]:
    print (f'{n}호')

302호
301호
202호
201호
102호
101호

- 리스트에 저장된 데이터를 아래와 같이 출력하라.

In [ ]:
for line in apart:
  for n in line:
    print(f"{n} 호 ")
    print('-'*20)

101 호
--------------------
102 호
--------------------
201 호
--------------------
202 호
--------------------
301 호
--------------------
302 호
--------------------

- 리스트에 저장된 데이터를 아래와 같이 출력하라.

In [ ]:
for line in apart:
  for n in line:
    print(f"{n} 호 ")
  print('-'*20)

101 호
102 호
--------------------
201 호
202 호
--------------------
301 호
302 호
--------------------

- 리스트에 저장된 데이터를 아래와 같이 출력하라.

In [ ]:
for line in apart:
  for n in line:
    print(f"{n} 호 ")
print('-'*20)

101 호
102 호
201 호
202 호
301 호
302 호
--------------------

data에는 매수한 종목들의 OHLC (open/high/low/close) 가격 정보가 바인딩 되어있다.
```
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
```
수수료를 0.014 %로 가정할 때, 각 가격에 수수료를 포함한 가격을 한라인에 하나씩 출력하라.
```
2000.28
3050.427
2050.2870000000003
...
```

In [ ]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for bind in data:
  for price in bind:
    print(price+price*0.00014)

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

191번의 출력 결과에 행단위로 "----" 구분자를 추가하라.

In [ ]:
for bind in data:
  for price in bind:
    print(price+price*0.00014)
  print('='*10)

2000.28
3050.427
2050.287
1980.2772
==========
7501.05
2050.287
2050.287
1980.2772
==========
15452.163
15052.107
15552.177
14902.086
==========

- 192 번 문제의 결괏값을 result 이름의 리스트에 1차원 배열로 저장하라.

In [ ]:
result = [price+price*0.00014 for bind in data for price in bind]

- 191번 문제의 결괏값을 result 이름의 리스트에 2차원 배열로 저장하라. 저장 포맷은 아래와 같다. 각 행에 대한 데이터끼리 리스트에 저장되어야 한다.

In [ ]:
result = []

for bind in data:
  temp1 =[]
  for price in bind:
    temp=price+price*0.00014
    temp1.append(temp)
  result.append(temp1)
result

[[2000.28, 3050.427, 2050.287, 1980.2772],
 [7501.05, 2050.287, 2050.287, 1980.2772],
 [15452.163, 15052.107, 15552.177, 14902.086]]

ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 화면에 종가데이터를 출력하라.
```
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
100
190
310
```

In [ ]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i  in ohlc[1:]:
  print(i[-1])

100
190
310

In [1]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in ohlc[1::]:
  if i[-1] > 150:
    print(i[-1])

190
310

- ohlc 리스트에는 시가(open), 고가 (high), 저가 

(low) , 종가(close)가 날짜별로 저장돼 있다. 종가가 시가 보다 크거나 같은 경우에만 종가를 출력하라.

In [2]:
for i in ohlc[1::]:
  if i[-1] >= i[0]:
    print(i[-1])

100
310

- ohlc 리스트에는 시가(open), 고가 (high), 저가 (low) , 종가(close)가 날짜별로 저장돼 있다. 고가와 저가의 차이를 변동폭으로 정의할 때 변동폭을 volatility 이름의 리스트에 저장하라.

In [3]:
volatility = [ i[1] - i[2] for i in ohlc[1::]]
print(volatility)

[40, 30, 10]

- 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 종가가 시가보다 높은 날의 변동성 (고가 - 저가)을 화면에 출력하라.

In [4]:
volatility = [ i[1] - i[2] for i in ohlc[1::] if i[-1] > i[0]]
print(volatility)

[10]

- 리스트에는 3일 간의 ohlc 데이터가 저장돼 있다. 시가에 매수해서 종가에 매도 했을 경우 총 수익금을 계산하라.

In [10]:
diff_list = []
for i in ohlc[1::]:
  diff = i[-1] - i[0]
  diff_list.append(diff)
sum(diff_list)

0