<a href="https://colab.research.google.com/github/parkmicheal1114/study/blob/main/python/python_practice_2023_05__3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

- 리스트의 마지막 원소 를 제외한 나머지 모든 원소를 반환하는 코드를 작성하세요.

In [ ]:
lst = [1,2,3,4,5]

def initial(lst):
  return lst[:-1]

initial(lst)

[1, 2, 3, 4]

- 주어진 범위 만큼의 리스트를 생성하는 코드를 작성하세요.

단, start 와 end 는 범위를 지정하며, step 은 원소간의 간격을 의미합니다

In [ ]:
def initialize_list_with_range(end, start=0, step=1):
  return list(range(start,end+1,step))

initialize_list_with_range(5) , initialize_list_with_range(7,3) ,initialize_list_with_range(9,0,2)

([0, 1, 2, 3, 4, 5], [3, 4, 5, 6, 7], [0, 2, 4, 6, 8])

- 주어진 값으로 채워진 리스트를 생성하는 코드를 작성하세요.

In [ ]:
def initialize_list_with_values(n, val=0):
  return [ val for i in range(n) ]

initialize_list_with_values(3,3)

[3, 3, 3]

- 두 리스트에 모두 존재하는 값을 반환하는 코드를 작성하세요.

In [ ]:
lst1 = [1,2,3]
lst2 = [2,3,4] 

def intersection(a,b):
  return set(a) & set(b)

intersection(lst1,lst2)

{2, 3}

- 첫번째 숫자(dividend)가 두번째 숫자(divisor)로 나누어 떨어지는지 확인하는 코드를 작성하세요.

In [ ]:
a = 9
b = 3

def is_divisible(dividend, divisor):
  return dividend % divisor == 0

is_divisible(a, b)

True

- 주어진 리스트에서 짝수만 필터링하고, 각 요소를 제곱한 리스트를 반환하는 함수를 람다 함수를 사용하여 작성해보세요.

In [ ]:
input_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]


list(map(lambda x: x**2 , [i for i in input_list if i%2 == 0])) 

# 코드를 작성해주세요.
# 출력: [4, 16, 36, 64, 100]
# 이렇게도 가능. 
# list(map(lambda x: x**2, filter(lambda x: x%2==0, input_list)))

[4, 16, 36, 64, 100]

- 람다 함수를 사용하여 리스트에서 가장 큰 수를 찾아내는 함수를 작성해보세요

In [ ]:
input_list = [1, 5, 9, 2, 3, 7, 8, 4, 6]

add = lambda x : max(x)
add(input_list)

# 코드를 작성해주세요.
# 출력: 9

9

- 다음과 같은 사전이 주어졌을 때, 값(value)을 기준으로 내림차순으로 정렬된 튜플의 리스트를 반환하는 함수를 람다 함수를 사용하여 작성해보세요

In [ ]:
input_dict = {'apple': 20, 'banana': 5, 'orange': 15, 'kiwi': 30, 'grape': 10}

sorted(input_dict.items(),key = lambda x : x[1] ,reverse=True )

## key 값을 X[1] 로 받게 되면 , values 를 기준으로 정렬 한다. , 반대로 x[0] 이면  
## key 값을 기준으로 정렬한다.
# 코드를 작성해주세요.
# 출력: [('kiwi', 30), ('apple', 20), ('orange', 15), ('grape', 10), ('banana', 5)]

[('kiwi', 30), ('apple', 20), ('orange', 15), ('grape', 10), ('banana', 5)]

- 다음과 같은 두 리스트가 주어졌을 때, 두 리스트의 요소를 곱한 새로운 리스트를 반환하는 함수를 람다 함수를 사용하여 작성해보세요

In [ ]:
list1 = [1, 2, 3, 4, 5]
list2 = [10, 9, 8, 7, 6]

list_mul= map(lambda x : list2[x] * list1[x] , [i for i in range(5)])
list(list_mul)
# 코드를 작성해주세요.
# 출력: [10, 18, 24, 28, 30]

[10, 18, 24, 28, 30]

- 다음과 같은 리스트가 주어졌을 때, 중복된 요소를 제거하고, 리스트의 요소를 문자열로 조합하여 반환하는 함수를 람다 함수를 사용하여 작성해보세요.

In [ ]:
# input_list = ['hello', 'world', 'python', 'hello', 'data', 'world']
# temp = [input_list[i] for i in range(0,len(input_list)-1) if input_list[i] != input_list[i+1]]
# temp
 
# input_list = ['hello', 'world', 'python', 'hello', 'data', 'world']
# temp = [input_list[0]] + [input_list[i+1] for i in range(len(input_list)-1) if input_list[i] != input_list[i+1]]
# temp
from functools import reduce

input_list = ['hello', 'world', 'python', 'hello', 'data', 'world']
temp = reduce(lambda x, y: x + y if y not in x else x, input_list)

print(temp)


# 코드를 작성해주세요.
# 출력: 'helloworldpythondata'

helloworldpythondata

- 사용자로부터 값을 입력받은 후 해당 값에 20을 더한 값을 출력하라. 단 사용자가 입력한 값과 20을 더한 계산 값이 255를 초과하는 경우 255를 출력해야 한다.

In [ ]:
val = int(input())

if val+20 <= 255 :
  print(val+20)
else:
  print(255)

250
255

-사용자로부터 하나의 값을 입력받은 후 해당 값에 20을 뺀 값을 출력하라. 단 출력 값의 범위는 0~255이다. 예를 들어 결괏값이 0보다 작은 값이되는 경우 0을 출력하고 255보다 큰 값이 되는 경우 255를 출력해야 한다.

In [ ]:
val = int(input())

def cal(val):
  return val-20

if 0<= cal(val) <= 255:
  print(cal(val))
elif cal(val) <0 :
  print(0)
else : 
  print(255)

-1
0

-사용자로부터 입력 받은 시간이 정각인지 판별하라.

In [ ]:
time = input("현재시간:")
time1= time.split(":")

if time1[1] == "00":
  print("정각입니다.")
else: 
  print("정각이 아닙니다.")

현재시간:02:01
정각이 아닙니다.

-사용자로 입력받은 단어가 아래 fruit 리스트에 포함되어 있는지를 확인하라. 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

In [ ]:
fruits = ["사과", "포도", "홍시"]

fruit = input()
if fruit in fruits:
  print("정답입니다.")
else:
  print("오답입니다.")

배
오답입니다.

- 투자 경고 종목 리스트가 있을 때 사용자로부터 종목명을 입력 받은 후 해당 종목이 투자 경고 종목이라면 '투자 경고 종목입니다'를 아니면 "투자 경고 종목이 아닙니다."를 출력하는 프로그램을 작성하라

In [ ]:
warn_investment_list = ["Microsoft", "Google", "Naver", "Kakao", "SAMSUNG", "LG"]

invest = input()

if invest in warn_investment_list:
  print("투자 경고 종목 입니다.")
else:
  print("투자 경고 종목이 아닙니다.")

Buydo
투자 경고 종목이 아닙니다.

- 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 키 (key) 값에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

key = input("제가 좋아하는 계절은?")

if key in fruit.keys():
  print("정답")
else:
  print("오답")

봄
정답

- 아래와 같이 fruit 딕셔너리가 정의되어 있다. 사용자가 입력한 값이 딕셔너리 값 (value)에 포함되었다면 "정답입니다"를 아닐 경우 "오답입니다" 출력하라.

In [ ]:
fruit = {"봄" : "딸기", "여름" : "토마토", "가을" : "사과"}

key = input("제가 좋아하는 과일은?")

if key in fruit.values():
  print("정답")
else:
  print("오답")

제가 좋아하는 과일은?딸기
정답

- 사용자로부터 문자 한 개를 입력 받고, 소문자일 경우 대문자로, 대문자 일 경우, 소문자로 변경해서 출력하라

In [ ]:
word = input()

if word.islower():
  print(word.upper())
else:
  print(word.lower())

b
B

-사용자로부터 달러, 엔, 유로, 또는 위안 금액을 입력받은 후 이를 원으로 변환하는 프로그램을 작성하라. 각 통화별 환율은 다음과 같다. 사용자는 100 달러, 1000 엔, 13 유로, 100 위안과 같이 금액과 통화명 사이에 공백을 넣어 입력한다고 가정한다.

In [ ]:
money = input("입력(예시:100 달러)")

val = float(money.split(" ")[0])
exc = money.split(" ")[1]

if exc == "달러":
  print(f"{val*1167}원")
elif exc == "엔":
  print(f"{val*1.096}원")
elif exc == "유로":
  print(f"{val*1268}원")
elif exc == "위안":
  print(f"{val*171}원")

입력(예시:100 달러)200 달러
233400.0원

In [ ]:
number1 = input()
number2 = input()
number3 = input()

int(max([number1,number2,number3]))

20
50
700

700

In [ ]:
telecom = {'011':'SKT','016':'KT','019':'LGU','010':'unknown'}

number = input("h.p number?(e.f 010-0000-000) :")
num=number.split("-")[0]

print(f"you're {telecom[num]} user ")

h.p number?(e.f 010-0000-000) :011-269-7855
you're SKT user

-우편번호는 5자리로 구성되는데, 앞의 세자리는 구를 나타낸다. 예를들어, 강북구의 경우 010, 011, 012 세 자리로 시작한다.

In [ ]:
num = input('우편번호:')

if num[2] in ['0','1','2']:
  print('강북구')
elif num[2] in ['3','4','5']:
  print('도봉구')
elif num[2] in ['6','7','8','9']:
  print('노원구')

우편번호:01700
노원구

- 주민등록번호 뒷 자리 7자리 중 첫째 자리는 성별을 나타내는데, 1, 3은 남자 2, 4는 여자를 의미한다. 사용자로부터 13자리의 주민등록번호를 입력 받은 후 성별 (남자, 여자)를 출력하는 프로그램을 작성하라.

In [ ]:
id = input()

if id[7] in ['1','3']:
  print('man')
elif id[7] in ['2','4']:
  print('woman')

121212-4234567
woman

In [1]:
id = input()

id_birth = id.split('-')[0]
id_info = id.split('-')[1]

if id_info[1:3] in ['00','01','02','03','04','05','06','07','08','09']:
  print("서울입니다")
else :
  print("서울이 아닙니다")

821010-1635210
서울이 아닙니다

-주민등록번호는 13자리로 구성되는데 마지막 자리수는 주민등록번호의 유효성을 체크하는데 사용된다. 먼저 앞에서부터 12자리의 숫자에 2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5를 차례로 곱한 뒤 그 값을 전부 더한다. 연산 결과 값을 11로 나누면 나머지가 나오는데 11에서 나머지를 뺀 값이 주민등록번호의 마지막 번호가 된다.

In [25]:
id = input()

id_temp = id.split('-')[0] + id.split('-')[1]
id_int = [int(id_temp[i]) for i in range(len(id_temp))]

val_num = [2, 3, 4, 5, 6, 7, 8, 9, 2, 3, 4, 5 ,1]
cal1 = sum([id_int[i]*val_num[i] for i in range(len(id_int))])

if (11-cal1%11) == id_int[-1]:
  print('yes')
else : 
  print('no')

## 결과는 맞는데 내것은 안되는 걸로 봐서 , 다른 이유가 있는듯

821010-1635210
no

-아래 코드는 비트코인의 가격 정보를 딕셔너리로 가져오는 코드이다.

-btc 딕셔너리 안에는 시가, 종가, 최고가, 최저가 등이 저장되어 있다. 최고가와 최저가의 차이를 변동폭으로 정의할 때 (시가 + 변동폭)이 최고가 보다 높을 경우 "상승장", 그렇지 않은 경우 "하락장" 문자열을 출력하라.

In [34]:
import requests
btc = requests.get("https://api.bithumb.com/public/ticker/").json()['data']

# 시작금액: int(btc['opening_price'])
# 마지막 거래 금액 :int(btc['closing_price'])
# 최저 거래 금액 : int(btc['min_price'])
# 최고 거래 금액 : int(btc['max_price'])

price_variance = int(btc['max_price']) - int(btc['min_price']) 
open_close = int(btc['opening_price']) + price_variance

if open_close > int(btc['max_price']) :
  print("RED")
else:
  print("BLUE")

RED