<a href="https://colab.research.google.com/github/parkmicheal1114/study/blob/main/python/%ED%8C%8C%EC%9D%B4%EC%8D%AC_%EC%97%B0%EC%8A%B5_%EB%AC%B8%EC%A0%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 프로그래밍 기초 연습하기 (총 17문제)

### 문제 01. 숫자 계산1

- 두 개의 숫자 a, b에 원하는 숫자를 넣고 a가 b의 배수인지 확인하는 코드를 작성하세요.

- 배수라면, "a는 b의 배수입니다."를 출력하고, 그렇지 않다면 "a는 b의 배수가 아닙니다."를 출력하세요.

In [ ]:
a, b = map(int,input().split())
print (a,b)

if a % b == 0 : 
  print(f"{a} 는 {b}의 배수 입니다.")
else: 
  print(f"{a} 는 {b}의 배수가 아닙니다.")

10 2
10 2
10 는 2의 배수 입니다.

### 문제 02. 숫자 계산2

- 주어진 실수값 f, g, h에 대해서 각 실수값을 소수점 세번째 자리에서 반올림한 값을 출력하는 코드를 작성하세요.

- 예를 들어 f, g, h가 각각 3.145, 6.1888, 1.00123라면 결과 출력은 3.15, 6.19, 1.00 입니다.

In [ ]:
f, g, h = 3.145, 6.1888, 1.00123
result = []
for i in f,g,h:
  result.append(round(i,2))
  
result

[3.15, 6.19, 1.0]

### 문제 03. 숫자 계산3

- 리스트로 주어진 수열 2개가 있습니다. 해당 수열들의 중앙값을 출력하는 코드를 작성해보세요.

- 중앙값의 정의는 홀수 개의 숫자에 대해서는 크기 순서대로 가장 가운데 있는 값입니다.

- 짝수 개의 숫자에 대해서는 크기 순서대로 가장 가운데 있는 두 개의 숫자의 평균입니다.

- 예를 들어, [5, 11, 2, 4] 수열이 주어진다면 정답은 4.5입니다.

- [1, 3, 4, 5, 100] 수열이 주어진다면 정답은 4입니다.

In [ ]:
numbers1 = [5, 10, 11, 24, 55, 100]
numbers2 = [99, 11, 2, 6, 677, 1001, 3]

def Median(nums):
  nums.sort()
  if len(nums)%2 == 0:
    median = (nums[int(len(nums)/2)] + nums[int(len(nums)/2-1)])/2
  else: 
    median = nums[int(len(nums)/2)]

  return f"중앙값은 {median}입니다 "

Median(numbers2)

'중앙값은 11입니다 '

### 문제 04. 윤년 계산하기

- 사용자 입력을 받은 숫자 N이 있습니다.

- 주어진 숫자 N이 윤년인지 아닌지 출력하는 코드를 작성해주세요.
> print("%d년은 윤년입니다." % N) **or**
> print("%d년은 윤년이 아닙니다." % N)

- 윤년 규칙은 다음과 같습니다.

> 1. 4의 배수일 것
> 2. 100의 배수가 아닐 것
> 3. 400의 배수일 것 

- 예를 들어, 2004년은 1번 조건을 만족하므로 윤년입니다.
- 2000년은 3번 조건을 만족하므로 윤년입니다.
- 2100년은 2번 조건을 만족하므로 윤년이 아닙니다.

In [ ]:
year = int(input("년도를 입력하세요 : "))

if ((year % 4 == 0) and (year % 100 != 0)) or (year % 400 ==0) :
  print ('윤년 입니다.')
else:
  print ('윤년이 아닙니다.')

년도를 입력하세요 : 100
윤년이 아닙니다.

### 문제 05. 평균 계산하기

- 철수는 5개의 과목에서 주어진 리스트와 같은 성적을 받았습니다.

- 철수가 받은 성적의 평균을 계산하는 코드를 작성하세요.

In [1]:
# 각 성적은 0~100점 사이입니다.
grades = [65, 70, 100, 43, 50]

import numpy as np

arr_grade = np.array(grades)
arr_grade.mean()

65.6

### 문제 06. 단어 고치기

- 영희는 문장을 빠르게 입력하다가, 'w'를 모두 'q'라고 작성해버렸습니다.

- 주어진 문장들을 모두 맞게 변경하여 주세요.
> 단, 주어진 모든 문장에 사용된 'q'는 'w'가 변경된 것이라고 가정합니다.

- 예를 들면, "I am wuitting this exam." -> "I am quitting this exam."
- "This is the wuickest approach I ever seen." -> "Thie is the quickest approach I ever seen."
- "The wueen should make wuick decision" -> "The queen should make quick decision."

In [ ]:
sentences = ["I am wuitting this exam.", "This is wuickest approach I ever seen.", "The wueen should make wuick decision."]
reslut = []
for i in range(len(sentences)):
  a = sentences[i].translate(str.maketrans('w','q'))
  print(a)

I am quitting this exam.
This is quickest approach I ever seen.
The queen should make quick decision.

### 문제 07. 단어 개수 파악하기

- 주어진 문장들에 대해서 몇 개의 단어가 있는지 출력하는 코드를 작성하세요.

- 예를 들어, "I am quitting this exam"이란 문장은 5개의 단어가 있습니다.

- "This is quickest approach I ever seen."이란 문장은 7개의 단어가 있습니다.

In [29]:
sentences = ["I am quitting this exam.", "This is quickest approach I ever seen.", "The queen should make quick decision."]
total = {}

# from collections import Counter

# word = [ word.split() for word in sentences ]

# word 
# sum(Counter(word[i]).values())


for i in range(len(sentences)):
  count = len(sentences[i].split())
  total.update({sentences[i]:count})
print(total)

{'I am quitting this exam.': 5, 'This is quickest approach I ever seen.': 7, 'The queen should make quick decision.': 6}

### 문제 08. 학급 관리하기

* 어떤 학급의 아이 5명의 키에 대한 정보가 주어집니다.
* 이를 리스트로 만들고 heights 라는 변수에 담아주세요.
*  175.3, 146, 184, 160, 167 
> 단위인 cm는 표시하지 마세요. 숫자만!


* 아이들 중 키가 제일 컸던 친구가 전학을 가게 되었습니다. 이를 코드로 구현해보고, heights의 길이를 구해보세요
* 5명의 아이 중 한 명이 전학을 갔으니, 4명이 되었겠군요.
> HINT : remove()

In [ ]:
# 코드

### 문제 09. 데이터를 보호하자.

- 이제 학교에서 더 이상 전학을 받지도, 보내지도 않기로 결정이 되었습니다. 

- 아이들의 키 데이터를 리스트로 불러왔습니다. 불러온 데이터의 값이 더 이상 변경되지 않기를 원합니다.

- 불러온 데이터가 저장된 리스트의 값을 변경할 수 없게 바꿔주는 코드를 작성하세요.

> HINT : 데이터 타입을 바꾸시면 됩니다 :)

In [ ]:
# 코드

### 문제 10. 장훈이만 이름이 있는 것이 아니다!
- 5명의 아이들의 키는 있지만, 누구의 키인지 알 수 없었지만, 이제 알 수 있습니다.
  - 양세형: 146(cm),  유세윤: 160(cm),  서강준: 167(cm),  유재석: 175.3(cm),  서장훈: 207cm
  - cm 는 표시하지 않습니다.
- 데이터 타입 중 Dictionary로 위처럼 이름(name - key)과 키(height - value)를 같이 붙여주려고 합니다. 
- 이를 코드로 작성해서 class_A 라는 변수에 담아줍니다.

In [ ]:
class_A =

### 문제 11. 이번에는 키로 학급의 어린이를 검색해보려고 합니다. 
 - 예를 들면, "175.3cm 인 친구는 누구였지?"
 - 이를 코드로 구현해보고, 키가 175.3cm 인 친구를 찾아봅시다.
 > HINT : for 문을 이용해봅시다.

In [ ]:
# 코드

### 문제 12. 농구부를 뽑아볼까요?
 - class_A의 학급 친구들을 기억하시나요? 허재 감독이 미래의 농구 꿈나무를 선발하여 농구부를 만든다고 합니다. 
 - 키가 175cm 이상인 친구들을 뽑아서 농구부를 결성한다고 합니다. 
 - basketball_team  이라는 빈 리스트를 작성하여, 농구부가 될 아이들의 이름만 추가하는 코드를 작성해보세요.
 - 마지막에 basketball_team 을 출력해봅시다.

In [ ]:
class_A = {"양세형": 146, "유세윤": 160, "서강준": 167, "유재석": 175.3, "서장훈": 207}

basket_ball = []

## 코드를 작성해보세요 ##

### 문제 13. 리스트에서 원하는 데이터 찾기

아래 L3에서 다음 3가지 원소를 찾는 코드를 작성해보세요.

**1, 2, '누구냐 넌?'**

In [ ]:
## 코드를 작성해보세요 ##
L3 = [1, ['a', 2], 3.14, '누구냐 넌?']

### 문제 14. 구구단 가로 출력 (for문)
- 다음처럼 구구단을 가로로 출력해봅시다. 
    
```
2x1=2, 3x1=3, ..., 9x1= 9
...
2x9=18, 3x9=27, ..., 9x9= 81
```

> HINT

- 이중 for문 안에 for문
    
- print: end = "\t"
    
- string: format

In [ ]:
## 코드를 작성해보세요

### 문제 15. 얼마나 걸릴까요?
- for문을 이용하여 1부터 1000000까지의 숫자 중 3의 배수인 숫자들을 찾고, 몇 개가 있는지 알아보는 코드를 작성해보세요. 

(아래 코드를 실행하면 실행 시간이 출력됩니다. %%timeit 이라는 친구의 역할입니다)

In [ ]:
%%timeit
## 코드를 작성해보세요 ##

### 문제 16. 무엇을 타고 집에 갈까요?
- 강준이라는 친구가 키가 5cm 자라더니 학교가 끝나고 집에 갈 때 잘 걸어가려 하지 않습니다. 

    - 강준이가 5000원 이상 소지하고 있을 경우 택시를 타고 집에 귀가할 수 있지만, 걸어서 귀가할 수도 있습니다.  
        - print("택시를 탑니다.")
        - 택시를 탈 경우, 3000원이 소비됩니다. 
        - 남은 잔액도 출력해주세요
    - 2000원 이상 있을 경우 버스를 타고 귀가하기로 했습니다.
        - print("버스를 탑니다.")
        - 버스를 탈 경우, 1000원이 소비됩니다. 
        - 남은 잔액도 출력해주세요
    - 2000원 미만일 경우 걸어서 귀가하기로 했습니다.
        - print("걸어서 귀가합니다.")

- 이를 반영한 코드를 작성해보세요

In [ ]:
## 강준이가 소지하고 있는 금액을 money 라는 변수로 받습니다. 
## 현재 10000원이 있네요.
money = 10000

## 택시를 탄다면, True로 타지 않는다면 False로 둘 수 있습니다.
taxi = True

## 코드를 작성해보세요

### 문제 17. 오락에 빠진 강준이
- 강준이가 택시에 내려서 걸어서 귀가하던 중, 집 근처 오락실에서 '철권'게임을 하고 싶어졌습니다. 회당 500원인 이 게임을 몇 번이나 할 수 있을까요?
- 매번 게임을 진행한 뒤의 강준이가 가지고 있는 잔액과 몇 번 게임을 했는지 횟수를 출력해주는 코드를 작성해보세요. 
> HINT : while 문

In [ ]:
## 강준이가 소지하고 있는 금액을 money 라는 변수로 받습니다. 
## 현재 택시에서 내려서 잔액이 7000원이군요.
money = 7000
# 현재 강준이의 게임횟수(counts)는 0번입니다.
counts = 0

## 코드를 작성해보세요

### 문제 18. 단어 개수 구하기

* 다음과 같은 영어기사 5개가 있다.
* 철수는 다음 뉴스기사들의 어떤 단어가 얼마나 나왔는지 궁금해졌다.
* 뉴스기사에서 등장하는 모든 단어마다 개수를 세어보자!


**[HINT]**

1. 각 문장을 단어로 나누려면 어떻게 해야할지 고민해보세요.


2. 각 단어를 저장할 data type을 고민해보세요. 어떤 구조가 좋을까요?


3. 반복문을 통해서 단어 하나하나의 count를 계산합니다.

In [ ]:
#아래 5개의 변수들은 각 뉴스 기사 하나를 의미합니다.
news1 = "earn champion products ch approves stock split champion products inc said its board of directors approved a two for one stock split of its common shares for shareholders of record as of april the company also said its board voted to recommend to shareholders at the annual meeting april an increase in the authorized capital stock from five mln to mln shares reuter"
news2 = "acq computer terminal systems cpml completes sale computer terminal systems inc said it has completed the sale of shares of its common stock and warrants to acquire an additional one mln shares to sedio n v of lugano switzerland for dlrs the company said the warrants are exercisable for five years at a purchase price of dlrs per share computer terminal said sedio also has the right to buy additional shares and increase its total holdings up to pct of the computer terminal s outstanding common stock under certain circumstances involving change of control at the company the company said if the conditions occur the warrants would be exercisable at a price equal to pct of its common stock s market price at the time not to exceed dlrs per share computer terminal also said it sold the technolgy rights to its dot matrix impact technology including any future improvements to woodco inc of houston tex for dlrs but it said it would continue to be the exclusive worldwide licensee of the technology for woodco the company said the moves were part of its reorganization plan and would help pay current operation costs and ensure product delivery computer terminal makes computer generated labels forms tags and ticket printers and terminals reuter"
news3 = "earn cobanco inc cbco year net shr cts vs dlrs net vs assets mln vs mln deposits mln vs mln loans mln vs mln note th qtr not available year includes extraordinary gain from tax carry forward of dlrs or five cts per shr reuter"
news4 = "earn am international inc am nd qtr jan oper shr loss two cts vs profit seven cts oper shr profit vs profit revs mln vs mln avg shrs mln vs mln six mths oper shr profit nil vs profit cts oper net profit vs profit revs mln vs mln avg shrs mln vs mln note per shr calculated after payment of preferred dividends results exclude credits of or four cts and or nine cts for qtr and six mths vs or six cts and or cts for prior periods from operating loss carryforwards reuter"
news5 = "earn brown forman inc bfd th qtr net shr one dlr vs cts net mln vs mln revs mln vs mln nine mths shr dlrs vs dlrs net mln vs mln revs billion vs mln reuter"

In [ ]:
# 단어 별 count를 출력해보세요.
## e.g. earn : 4, champion : 2, ...

In [ ]:
from google.colab import drive
drive.mount('/content/drive')